/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import "compass/css3/border-radius";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$fontsize: 14px;
$lineheight: 16px;

@function pxtoem($px, $basepx) {
    @return $px/$basepx + 0em;
}

$iphone-portrait: pxtoem(320px, $fontsize);
$ipad-portrait: pxtoem(768px, $fontsize);

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 1em;
$container-style: magic;
$container-width: pxtoem(1140px, $fontsize);

$font: "Open Sans", sans-serif;

$white: #fff;
$black: #000;
$gray: #333;
$midgray: #d3d3d3;
$lightgray: #e6e6e6;
$superlightgray: #f0f0f0;

$red: red;
$midred: #fdd;
$lightred: #ffefef;

$blue: blue;
$lightblue: #e0e0ff;
$midblue: #aaaaff;

body {
    .container {
        @include container;
    }

    #errors {
        // @include at-breakpoint($ipad-portrait) {
        //     @include span-columns(12, 12);
        // }
    }    
    #information {
        // @include at-breakpoint($ipad-portrait) {
        //     @include span-columns(12, 12);
        // }
    }
    #results {
        // @include at-breakpoint($ipad-portrait) {
        //     @include span-columns(12, 12);
        // }
    }    
    #form {
        @include at-breakpoint($ipad-portrait) {
            @include span-columns(5 omega, 12);
        }
    }
    #console {
        @include at-breakpoint($ipad-portrait) {
            @include span-columns(7, 12);
        }

        textarea {
            min-height: 300px;
        }
    }

    font-family: $font;
    font-size: $fontsize;
    line-height: $lineheight;
    color: $gray;

    h1, h2, h3, h4 { margin: 1em 0; line-height: 1em; }

    h1 { font-size: 2em; }
    h2 { font-size: 1.6em; }
    h3 { font-size: 1.4em; }
    h4 { font-size: 1.2em; }

    p {
        margin: 0 0 1em;
    }

    table.data {
        width: 100%;
        border: 1px solid $gray;

        thead {
            border-bottom: 1px solid $gray;
            tr {
                th {
                    padding: 0.6em;
                    border-right: 1px solid $gray;

                    &:last-of-type {
                        border-right: none;
                    }
                }
            }
        }
        tbody {
            tr {
                &.last {
                    td {
                        border-bottom: none;
                    }
                }

                &.even {
                    td {
                        background-color: $superlightgray;
                    }
                }

                td {
                    padding: 0.6em;
                    border-right: 1px solid $midgray;
                    border-bottom: 1px solid $midgray;

                    &:last-of-type {
                        border-right: none;
                    }
                }
            }
        }
    }

    .error {
        display: inline-block;
        color: $red;
        background-color: $lightred;
        padding: 0.6em;
    }    
    .info {
        display: inline-block;
        color: $black;
        background-color: $lightblue;
        padding: 0.6em;
    }

    #results {
        margin: 0 0 1em;

        .table-results {
            @include at-breakpoint($ipad-portrait) {
                @include span-columns(8, 12);
            }
        }
        .raw-results {
            @include at-breakpoint($ipad-portrait) {
                @include span-columns(4 omega, 12);
            }

            textarea {
                min-height: 600px;
            }
        }
    }

    textarea {
        border: 1px solid $midgray;
        padding: 0.6em;
        width: 96%;
    }

    fieldset, legend, textarea {
        @include border-radius(0.2em);
    }

    fieldset {
        border: 1px solid $lightgray;
        padding: 0.6em;
        margin: 0 0 1em;

        legend {
            border: 1px solid $midgray;
            padding: 0.6em;
        }

        label {
            display: inline-block;
            margin-right: 0.6em;
        }

        input[type=text] {
            display: inline-block;
            padding: 0.6em;
            border: 1px solid $midgray;
            width: 96%;

            &.datepicker {
                width: 20%;
                margin-right: 0.6em;
            }
        }
        select {
            display: inline-block;
            padding: 0.4em;
            border: 1px solid $midgray;
        }

        label.account {
            display: block;
            padding: 0.2em;
        }

        input[type=button], input[type=submit], button {
            @include border-radius(0.2em);
            display: inline-block;
            padding: 0.6em;
            border: 1px solid $midgray;
            background-color: $white;
            color: $gray;

            &:hover {
                border: 1px solid $midblue;
                background-color: $lightblue;
                color: $black;
            }
        }
    }

}

